{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Hello {{ home_name }}, welcome to the home page</h1>


{% if user_flag == 0 %}
<p>Hello Student</p>
{% elif user_flag == 1 %}
<p>Hello Professor</p>
{% elif user_flag == 2 %}
<p>Hello Admin</p>
{% endif %}

<ul>
    {% for subject in home_subjects %}
    <li>{{ subject }}</li>
    {% endfor %}
</ul>
<ol>
    {% for book in books %}
    <li>{{ book.title }} by {{ book.author }}</li>
    {% endfor %}
</ol>
<ul>
    {% for k,v in person.items() %}
    <li>{{ k }} -> {{ v }}</li>
    {% endfor %}
</ul>

<img src="{{ url_for('static',filename='img/images.jpeg') }}" />
{% endblock %}
